<!DOCTYPE html>
<html lang="en">
<%- include('partials/_head.ejs') %>
<body>
<%- include('partials/_header.ejs') %>
<main role="main" class="container mt-4">
  <h2>User Dashboard</h2>
  <canvas id="learningProgressChart"></canvas>
</main>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/dashboard.js"></script>
</body>
<%- include('partials/_footer.ejs') %>
</html>